version: "3.7"

networks:
  front-tier:
    name: front-tier
    driver: overlay
  back-tier:
    name: back-tier
    driver: overlay
 
services:
  prerender:
#    container_name: prerender
    hostname: prerender
    build:
      context: prerender/
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 1
    labels:
      title: "Prerender system"
      description: "Create and manages prerendered pabes"
      department: "IT"
    environment:
      SERVER_DIR: /root
      CHROME_BIN: /usr/bin/chromium-browser
      CHROME_PATH: /usr/lib/chromium/
      PAGE_DONE_CHECK_INTERVAL: 500
      PAGE_LOAD_TIMEOUT: 20000
      WAIT_AFTER_LAST_REQUEST: 250
    networks:
      - back-tier
    volumes:
      - "/home/gluster/ssd01:/var/lib/mysql"
      - "/mnt/storage:/var/www/storage"

  mysql:
#    container_name: mysql
    hostname: mysql
    build:
      context: mysql/
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
          - node.labels.disk == ssd
      replicas: 1
    labels:
      com.dgyar.description: "Data node"
      com.dgyar.department: "IT"
    command: --sql_mode=""
    environment:
      MYSQL_ROOT_PASSWORD: P@ssw0rd
      MYSQL_DATABASE: plufdb
      MYSQL_USER: pluf
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
    networks:
      - back-tier
    volumes:
      - "/home/gluster/ssd01:/var/lib/mysql"
  pluf:
#    container_name: pluf
    hostname: pluf
    build:
      context: pluf/
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
          - node.labels.type == gateway
    labels:
      com.dgyar.description: "Public webapp interface"
      com.dgyar.department: "IT"
    volumes:
      - "/mnt/storage:/var/www/storage"
      - "/mnt/logs:/var/www/logs"
      - "/mnt/apache:/etc/apache2"
      - "/mnt/letsencrypt:/etc/letsencrypt"
    ports:
      - "8082:80"
      #- "443:443"
    networks:
      - front-tier
      - back-tier
    depends_on:
      - mysql
      - prerender


